@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
body
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #ebf5fc;
  
}

/*NAVBAR*/
.c
{
	max-width: 140%;
    width: 100%;
	background-color:  #3f3b3b;
	margin: 0 auto;
    
}

.bar{
	text-decoration: none !important;
	color:#fff;
	font-weight: bold;
}
.bar:hover
{
	color: #fff;
}
header{

  overflow: hidden;
  
}


.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: red;
	font-size: 2rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1rem;
}
.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand #s1{
	color: #ff304f;
}

nav ul{
	display: flex;
  font-size: 1.195rem;
  
}
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}
nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff304f;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}
nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	display: inline-block;
	background-color:black;
	position: fixed;
	width: 100%;
	
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
   overflow: hidden;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}
@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}
/*GalleryText*/
.gal-text
{
    margin-top: 10px;
    font-size: 38px;
    color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

/*Gallery */
.container {
    margin: 0 auto;
    padding-right: .8em;
    padding-left: .8em;
    width: 100%;
    height: auto;
    max-width: 1260px;
    background: #fff;
   }
   .gallery {
    /* Max out the height within its container */
    width: 100%;
    height: auto;
    /* Add flexbox styles */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-container {
  margin-bottom: 3em;
  text-align: center;
  margin-left: .8em;    /* these margins depend on the .photo-container width in @media */
  margin-right: .8em;
}

h2 {
  text-transform:uppercase;
  font-size: 1.5em;
  line-height: .4;
}
p {
  font-size: .9375em;
  margin: 0 0 1.5em;
  line-height: 1.4;
}

.photo {
    position: relative;
    line-height: 0;
    overflow: hidden;
    margin-bottom: 2.5em;
  }
  .photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
  }
  .photo-overlay h2 {
    margin-top: 0;
  }
  .photo-overlay {
    opacity: 0;
    transition: opacity .5s;
  }
  .photo-overlay:hover {
    opacity: 1;
  }
  .photo img {
    transform-origin: 0 0;
  }
  .photo:hover img {
    transform: scale(1.2);
  }
  

















@media screen and (max-width: 1000px){
    /*BACKGROUND*/
	body
	{
		overflow-x: hidden;
	}
    
        /*TOGGLE*/
        
        .menu-toggle{
            display: block;
        
        }
    
        nav{
        
            padding-top: 0;
            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100vh;
            text-align: center;
        
        }
    
        nav ul{
            flex-direction: column;
        }
    
        nav ul li{
            margin-top: 6rem;
        }
    
        nav ul li a{
            margin: 0;
            font-size: 2rem;
        }
    
        .brand{
            font-size: 4rem;
        }
      
      .overlay.menu-open,
      nav.menu-open{
          display: flex;
          width: 100%;
          height: 100%;
          transform: scale(1);
          opacity: 1;
	  }
.bdy
{
	margin-left: 5px;
}
	  
	
}

@media (min-width: 0) and (max-width: 768px) {
    .container {
      padding: 0 1.225em 2.5em;
    }
    }
    
    @media (min-width: 1024px) {
    .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .photo-container {
      margin-bottom: 3em;
      text-align: center;
      width: 25%;  
      flex-grow: 1;
    }
    }
    
    
    @media (min-width: 1600px) {
    .photo-container {
      margin-bottom: 4em;
      width: 30%;
    }
    h2 {
      line-height: 1;
    }
    }